{% extends 'base.html' %}
{% load static %}

{% block content %}
<section>
  <article>
    <h1>Make a reservation</h1>
    <div class="row">
      <div class="column">
        <form action="" method="post">
          {% csrf_token %}
          {{form.as_p}}
          <input type="submit" id="button">
        </form>
      </div>

      <div class="column">
        <div class="videowrap">
          <iframe
            src="https://mapcarta.com/N10240992021/Directions"
            width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
            referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
      </div>
    </div>




  </article>
</section>
{% endblock %}